# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './data/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [5]:
age= app_train[['TARGET','DAYS_BIRTH']]
age['DAYS_BIRTH']=abs(age['DAYS_BIRTH']/356)
age['DAYS_BIRTH']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0         26.575843
1         47.092697
2         53.500000
3         53.384831
4         55.988764
5         47.587079
6         38.702247
7         52.949438
8         56.457865
9         40.643258
10        28.643258
11        57.351124
12        37.750000
13        39.567416
14        40.963483
15        24.516854
16        36.323034
17        27.460674
18        49.769663
19        31.876404
20        51.269663
21        41.615169
22        31.308989
23        69.738764
24        31.702247
25        54.308989
26        52.595506
27        44.797753
28        28.073034
29        29.047753
            ...
307481    57.988764
307482    39.623596
307483    69.974719
307484    36.087079
307485    33.632022
307486    44.971910
307487    64.957865
307488    28.348315
307489    46.266854
307490    27.735955
307491    30.831461
307492    58.890449
307493    49.250000
307494    42.016854
307495    58.769663
307496    48.721910
307497    46.851124
307498    53.657303
307499    47.719101
307500    57.275281
307501    36.407303
307502    45.120787
307503    33.342697
307504    46.924157
307505    68.494382
307506    26.199438
307507    58.356742
307508    42.039326
307509    33.598315
307510    47.348315
Name: DAYS_BIRTH, Length: 307511, dtype: float64

In [8]:
age['BIN']=pd.cut(age['DAYS_BIRTH'],bins=10)
print('age',age.head())
print(age['BIN'].value_counts())

dcut10 = age['BIN'].unique()
dcut10 = dcut10.sort_values()
dcut10

age    TARGET  DAYS_BIRTH               BIN
0       1   26.575843   (26.02, 31.003]
1       0   47.092697  (45.952, 50.935]
2       0   53.500000  (50.935, 55.919]
3       0   53.384831  (50.935, 55.919]
4       0   55.988764  (55.919, 60.902]
(35.986, 40.969]    41758
(40.969, 45.952]    40350
(31.003, 35.986]    38430
(45.952, 50.935]    34335
(50.935, 55.919]    33520
(26.02, 31.003]     33120
(55.919, 60.902]    32650
(60.902, 65.885]    27685
(20.987, 26.02]     13686
(65.885, 70.868]    11977
Name: BIN, dtype: int64

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

[(20.987, 26.02], (26.02, 31.003], (31.003, 35.986], (35.986, 40.969], (40.969, 45.952], (45.952, 50.935], (50.935, 55.919], (55.919, 60.902], (60.902, 65.885], (65.885, 70.868]]
Categories (10, interval[float64]): [(20.987, 26.02] < (26.02, 31.003] < (31.003, 35.986] < (35.986, 40.969] ... (50.935, 55.919] < (55.919, 60.902] < (60.902, 65.885] < (65.885, 70.868]]