## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [10]:
population = np.random.randint(0,100000,5)
country =[]

for i in range(5):
    j='國家'+ str(i)
    country.append(j)
    

data = {'國家':country,
        '人口': population}
table = pd.DataFrame(data)

In [11]:
table

      人口   國家
0  56702  國家0
1   6511  國家1
2   1389  國家2
3  70511  國家3
4  31664  國家4

In [12]:
max_ind = population.argmax()
max_ind

3

In [14]:
print(f'The most population country is country no. {max_ind} ')

The most population country is country no. 3